@import '@/assets/_variables.scss';
.title {
	color: $main-color;
	font-size: 40px;
  @media (max-width: 400px) {
    font-size: 28px;
  }
  &--slider {
    font-size: 14px;
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &--page {
    font-size: 33px;
    margin-bottom: 10px;
    @media (max-width: 510px) {
      font-size: 28px;
    }
        @media (max-width: 400px) {
      font-size: 23px;
    }
  }

  &--image {
    font-size: 25px;
  }

  &--season {
    font-size: 18px;
    margin-top: 10px;
  }
}

.subtitle {
  font-size: 20px;
  color: #ccc;
  &--slider {
    margin-top: 10px;
    font-size: 13px;
  }
      @media (max-width: 510px) {
      font-size: 18px;
    }
}

.text {
	font-size: 17px;
  &--episode {
    font-size: 13px;
    color: #999;
    flex: 1;
  }

  &--biography {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 1.4;
      @media (max-width: 510px) {
      font-size: 14px;
          margin-top: 10px;
    margin-bottom: 10px;
    }
  }
  &--error {
    color: #ccc;
    font-weight: 700;
  }
}

.lazyloading {
  animation: lazyloading-anim 0.9s ease-in-out;
}

@keyframes lazyloading-anim {
  0% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}

html {
  height: 100%;

}
::-webkit-scrollbar {
  width: 0;
}
body {
  height: 100%;
  padding-left: 120px;

  @media (max-width:1200px) {
  padding-left: 0;
  }
}

.loading__home {
  min-height: 100%;
  top: 400px;
  flex: 1 1 auto;
}

.empty {
  position: relative;
  top: 50%;
  left: 50%;
  margin-bottom: 25px;
  @media (max-width:500px) {
    left: 40%;
    width: 64px;
    height: 64px;
  }
}

.observer {
  height: 10px;
}

