@import '@/assets/_variables.scss';
.title {
	color: $main-color;
	font-size: 40px;

  &--slider {
    font-size: 14px;
    margin-top: 10px;
  }
  &--page {
    font-size: 33px;
    margin-bottom: 10px;
  }

  &--image {
    font-size: 25px;

  }
}

.subtitle {
  font-size: 20px;
  color: #ccc;
  &--slider {
    margin-top: 10px;
    font-size: 13px;
  }
}

.text {
	font-size: 17px;
}

.lazyloading {
  animation: lazyloading-anim 0.75s linear;
}

@keyframes lazyloading-anim {
  0% {
    transform: scale(0.7);
    border-radius:100px;
  }

  100% {
    transform: scale(1);
    border-radius:0px;
  }
}

html {
  height: 100%;

}
::-webkit-scrollbar {
  width: 0;
}
body {
  height: 100%;
  padding-left: 120px;
}

.loading__home {
  min-height: 100%;
  top: 400px;
  flex: 1 1 auto;
}

.empty {
  position: relative;
  top: 50%;
  left: 50%;
  margin-bottom: 25px;
}